<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <main>
        <section class="lists">
        <h1>Pending Tasks</h1>
        <div class="lists list">
            <% for(x=0; x < size; x++ ){  %>
                <form class="check" method="post" action="/posts/done/<%= pending[x].id %>">       
                    <input onChange="this.form.submit()" id = "<%= pending[x].id %>" type="checkbox"/>
                    <label for="<%= pending[x].id %>"  class="task" ><%= pending[x].task %></label>
                    <a href="/proccess/<%= pending[x].id %>">  <span class="iconify-inline" data-icon="mdi:arrow-down-bold-box" style="color: #fe4c6a;"></span>  </a>  
                </form>
            <% } %>
        </div>
              <h1>In Proccess Tasks</h1>
        <div  class="lists list">
              
                <% for(x=0; x < size2; x++ ){  %>
                    <form class="check" method="post" action="/posts/done/<%= proccess[x].id %>">       
                        <input  onChange="this.form.submit()" id = "<%= proccess[x].id %>" type="checkbox"/>
                        <label for="<%= proccess[x].id %>"  class="task" ><%= proccess[x].task %></label>
                        <a href="/pending/<%= proccess[x].id %>">  <span class="iconify" data-icon="mdi:arrow-up-bold-box" style="color: #fe4c6a;"></span>   </a>  
                    </form>
                <% } %>
            </div>
            <h1>Completed Tasks</h1> 
            <div  class="lists list">
                
                <% for(x=0; x < size3; x++ ){  %>
                    <form class="uncheck" method="post" action="/posts/undone/<%= completed[x].id %>">       
                        <input  onChange="this.form.submit()" id = "<%= completed[x].id %>" type="checkbox"/>
                        <label for="<%= completed[x].id %>"  class="task" ><%= completed[x].task %></label>
                        <a href="/delete/<%= completed[x].id %>">  <span class="iconify" data-icon="mdi:delete-circle" style="color: red;"></span>   </a>   
                        
                    </form>
                <% } %>
            </div>



        </section>
        <section class="container"> 
            <h1>Add new task</h1>
            <form autocomplete="off" class="addtask" method="post" action="/posts/task">
                <label class="field">
                    <input required type="text" name="task"/>
                </label>
              <label for="submit"> <span class="iconify" data-icon="mdi:plus-circle" style="color: #fe4c6a;"></span>  </label>  
              <input id="submit" type="submit"/>
    
            </form>
        </section>
            

    </main>
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
</body>
</html>