<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <main>
        <section class="lists">

        <div class="lists list">
            <% for(x=0; x < size; x++ ){  %>
                <form class="check" method="post" action="/done/<%= pending[x].id %>">       
                    <input onChange="this.form.submit()" id = "<%= pending[x].id %>" type="checkbox"/>
                    <label for="<%= pending[x].id %>"  class="task" ><%= pending[x].task %></label>
                    <a href="/config/<%= pending[x].id %>">  <span class="iconify" data-icon="mdi:cog-outline" style="color: #fe4c6a;"></span>  </a>  
                </form>
            <% } %>
        </div>
            
        <div  class="lists list">
                
                <% for(x=0; x < size2; x++ ){  %>
                    <form class="check" method="post" action="/done/<%= proccess[x].id %>">       
                        <input  onChange="this.form.submit()" id = "<%= proccess[x].id %>" type="checkbox"/>
                        <label for="<%= proccess[x].id %>"  class="task" ><%= proccess[x].task %></label>
                        <a href="/config/<%= proccess[x].id %>"> <span class="iconify" data-icon="mdi:cog-outline" style="color: #fe4c6a;"></span>  </a>  
                    </form>
                <% } %>
            </div>

            <div  class="lists list">
                 
                <% for(x=0; x < size3; x++ ){  %>
                    <form class="uncheck" method="post" action="/done/<%= completed[x].id %>">       
                        <input  onChange="this.form.submit()" id = "<%= completed[x].id %>" type="checkbox"/>
                        <label for="<%= completed[x].id %>"  class="task" ><%= completed[x].task %></label>
                        <a href="/config/<%= completed[x].id %>"> <span class="iconify" data-icon="mdi:cog-outline" style="color: #fe4c6a;"></span>  </a>  
                    </form>
                <% } %>
            </div>



        </section>
        <section class="container"> 
            <form class="addtask" method="post" action="/task">
                <label class="field">
                    <input required type="text" name="task"/>
                </label>
                <input type="submit" value="Confirm Task"/>
    
            </form>

        </section>
            

    </main>
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
</body>
</html>